.article_card__container {
    display: flex;
    padding: 24px 0;
    cursor: pointer;
}

.article_card__published_date {
    color: var(--color-content-secondary);
    font-size: 0.75rem;
    font-weight: 500;
    min-width: 120px;
    line-height: 0.6875rem;
}

.article_card__content_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.article_card__header_and_description_container {
    max-width: 470px;
}

.article_card__header {
    color: var(--color-content-primary);
    font-weight: 700;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.article_card__abstract {
    color: var(--color-content-secondary);
    font-size: 0.875rem;
}

.article_card__figure {
    width: 205px;
    min-width: 120px;
    margin: 0 0 0 40px;
}

.article_card__section {
    font-size: 0.6875rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 0.6875rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

@media only screen and (max-width: 600px) {
    .article_card__container {
        flex-direction: column;
    }

    .article_card__content_container {
        flex-direction: column;
    }
    .article_card__figure {
        width: 100%;
        margin: 1rem 0 0 0;
    }

    .article_card__section {
        margin: 0.5rem 0;
    }
}
