.navigation__header {
    position: sticky;
    top: -16px;
    padding-top: 16px;

    box-shadow: 0 0 5px 1px rgb(0 0 0 / 28%);
    background-color: #ffffff;
    z-index: 1;
}

.navigation__container {
    display: flex;
    align-items: center;
    gap: 16px;
    height: 60px;
    padding-left: 32px;
    padding-right: 32px;

    max-width: var(--max-content-width);
    margin: 0 auto;
}

.navigation__item {
    display: inline-block;
    font-size: 0.875rem;
    line-height: 1rem;
    font-weight: 500;
}

.navigation__item_active {
    text-decoration: underline;
    text-underline-offset: 4px;
    font-weight: 600;
}
