.search_input__container {
    border: none;
    border-bottom: 1px solid #e2e2e2;
    width: 100%;
    font-size: 1.5rem;
    padding: 8px 16px 8px 0;
    outline: none;
    margin-bottom: 2rem;
}

.search_input__container::placeholder {
    color: 1px solid #e2e2e2;
}
