:root {
  --max-content-width: 1100px;
  --color-content-primary: hsla(0, 0%, 7.06%, 1);
  --color-content-secondary: hsla(0, 0%, 35.3%, 1);
  --color-text-decoration-color: #326891;
  --color-border-color: #e2e2e2;
  --layout-z-index: 1;
}

html {
  overflow: overlay;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
